StructuredTextData  v1.2
config :
    #command_msg  OPERATOR_MOVEMENT_COMMAND
    command_msg  COMPOSITE_MOVEMENT_COMMAND
    arm :
        trans_frame             global  #global  #local
        orient_frame            global  #global  #local
        orient_transform  [
                0 0 -1
                0 -1 0
                -1 0 0
        ]
    ;
    hand :
        algorithm        vel_pid  # EKF_fc vel_c
        output_type      vel     # pos vel
        low_dof_mask     1 0 0 0 0 0 0 0 0 0
        control_delay    2      # 2
        feedback_delay   2      # 2
        variance :
            command_vel       .001      # .005
            feedback_pos      .8         # 1
            state_trans_vel   .00001     # .0001
            state_trans_pos   .00001    # .00001
        ;

        low2high_mapper :

            function_name    hand_mapper_linear

            # -------------------
            # Finger1           1
            # Finger2           2
            # Finger3           3
            # Spread            4
            # -------------------

            # ->    1    2    3    4
            foff   .0   .0   .0   .0

            # open/close fingers

            fmap   [
                    1.0  1.0  1.0  0.0
            ]
        ;
    ;
;
