StructuredTextData  v1.2
config             :
    manual_session_start         0
    use_controller               0
    enable_denso                 0      
    denso_speed                 75      
    num_reps                  1000
    do_video                     0
    do_tool_change               0      
    max_num_tries_per_target    -1
    max_num_tries_per_start_loc -1
    task_state_config_files      {
        XM.task_state.adapt.1.config
        XM.task_state.adapt.2.config
        XM.task_state.adapt.3.config
        XM.task_state.adapt.4.config
        XM.task_state.after.config
    }
    task_state_config_schedule   1 2 3 4 5
    alternate_occurrence_freq    0 # 0.2
    alternate_occurrence_rep     5
    alternate_state_config_files {
        XM.task_state.catch.1.config
    }
    alternate_state_config_freq  1 #.25
    robot_control_dims           XYZ-IJK-0123456789
    robot_control_mode           VVVVVVVVVVVVVVVVVV
    EM_used_dimensions           1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
    camera_ip                    192.168.2.62
    camera_port                  3456
;
