StructuredTextData  v1.2
task_state_config  :
    use_denso                0
    tags                        regular
    target_configurations_file  XM.target.config
    state_names   	         BeginTrial Present Reach Hold Return InterTrial
    #                   	 BeginTr Present Reach   Hold    Return  InterTr
    #                   	 ------- ------- ------- ------- ------- -------
	auto_command_fraction [                                          
                             1       1       0.25    0.25    1       1
                             1       1       1       1       1       1
	]                                                                
	vf_orth_impedance [                                              
                             0       0       0       0       0       0
                             0       0       0       0       0       0
	]                                                                
    skip_state               0       0       0       0       0       0
    trial_begins             0       1       0       0       0       0
    trial_complete           0       0       0       0       1       0
	task_end_state           0       0       0       0       0       1
    manual_proceed           a       a       a       a       a       -
    manual_cancel            a       a       a       a       a       -
	reward                   0       0       0       0       e10     0
    time_penalty             0       0       0       0       0       0
    timeout                  2000    1000    3000    1400    3000    0
    timeout_range_percent    0       0       0       0       0       0
    timed_out_conseq         1       0       0       1       0       1
    reach_target             home    home    tgt     tgt     home    home
    trans_threshold          .02     .01     .08     -       .01     -
    trans_threshold_f        -       -       -       >.1     -       -
    use_for_calibration      0       0       1       1       0       0
	dim_domains {
					[1:2]
					[3:18]
	}
;
