StructuredTextData  v1.2
config :
    command_msg     COMPOSITE_MOVEMENT_COMMAND
    upper_limits     5.00  5.00  0  0  0 0 0  0 0 0 0 0 0 0 0 0 0 0 
    lower_limits    -5.00 -5.00  0  0  0 0 0  0 0 0 0 0 0 0 0 0 0 0 
    ori_limit       1.57
    controlledDims  1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
    translation :
        coordinate_space    local
        noise               0   #.4  
    ;
    orientation :
        coordinate_space    local
    ;
;
