StructuredTextData  v1.2
target_configurations :
    combos :
        selection_method random
        home   1 1 1 1
        tgt    1 2 3 4
    ;
    config_home :
        target_configuration_dim_names  X Y NU NU NU NU
        targets [
           0.0  0.0   0   0   0   0
        ]
    ;
    
    config_tgt :
        target_configuration_dim_names  X Y NU NU NU NU
        targets [
            0.65    0.55   0   0   0   0
            0.65   -0.55   0   0   0   0
           -0.65    0.55   0   0   0   0
           -0.65   -0.55   0   0   0   0
        ]
    ;
;
